autom4te.cache
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
Makefile.in
aclocal.m4
ar-lib
compile
config.guess
config.h.in
config.h.in~
config.sub
configure
depcomp
install-sh
ltmain.sh
missing
Makefile
config.h
config.log
config.status
libtool
stamp-h1
*~
*.patch
.DS_Store
.autotools
.cproject
.project
.settings
.cache
*.a
*.rsa
*.dirstamp
*.la
*.lo
*.o
*.rso
*.pyc
*.rej
__pycache__
.libs
.deps
rpmbuild
rpm/389-ds-base.spec
Makefile
config.h
config.log
config.status
dberrstrs.h
dbscan
dirsrv.pc
dsktune
infadd
ldap-agent
ldclt
ldif
libtool
makstrdb
migratecred
mmldif
ns-slapd
ns-slapd.properties
pwdhash
rsearch
stamp-h1
benchmark_par_sds
benchmark_sds
doxyfile.stamp
tags
test-driver
test-suite.log
test_libsds
test_libsds.log
test_libsds.trs
test_nuncstans
test_nuncstans.log
test_nuncstans.trs
test_nuncstans_stress_large
test_nuncstans_stress_small
test_nuncstans_stress_small.log
test_nuncstans_stress_small.trs
test_slapd
test_slapd.log
test_slapd.trs
ldap/admin/src/dirsrv
ldap/admin/src/defaults.inf
ldap/admin/src/scripts/80upgradednformat.pl
ldap/admin/src/scripts/DSCreate.pm
ldap/admin/src/scripts/DSMigration.pm
ldap/admin/src/scripts/DSSharedLib
ldap/admin/src/scripts/DSUpdate.pm
ldap/admin/src/scripts/DSUtil.pm
ldap/admin/src/scripts/DialogManager.pm
ldap/admin/src/scripts/Migration.pm
ldap/admin/src/scripts/Setup.pm
ldap/admin/src/scripts/SetupDialogs.pm
ldap/admin/src/scripts/bak2db
ldap/admin/src/scripts/bak2db.pl
ldap/admin/src/scripts/cleanallruv.pl
ldap/admin/src/scripts/db2bak
ldap/admin/src/scripts/db2bak.pl
ldap/admin/src/scripts/db2index
ldap/admin/src/scripts/db2index.pl
ldap/admin/src/scripts/db2ldif
ldap/admin/src/scripts/db2ldif.pl
ldap/admin/src/scripts/dbverify
ldap/admin/src/scripts/dn2rdn
ldap/admin/src/scripts/dscreate.map
ldap/admin/src/scripts/dsorgentries.map
ldap/admin/src/scripts/dsupdate.map
ldap/admin/src/scripts/fixup-linkedattrs.pl
ldap/admin/src/scripts/fixup-memberof.pl
ldap/admin/src/scripts/ldif2db
ldap/admin/src/scripts/ldif2db.pl
ldap/admin/src/scripts/ldif2ldap
ldap/admin/src/scripts/migrate-ds.pl
ldap/admin/src/scripts/monitor
ldap/admin/src/scripts/ns-accountstatus.pl
ldap/admin/src/scripts/ns-activate.pl
ldap/admin/src/scripts/ns-inactivate.pl
ldap/admin/src/scripts/ns-newpwpolicy.pl
ldap/admin/src/scripts/remove-ds.pl
ldap/admin/src/scripts/repl-monitor.pl
ldap/admin/src/scripts/restart-dirsrv
ldap/admin/src/scripts/restoreconfig
ldap/admin/src/scripts/saveconfig
ldap/admin/src/scripts/schema-reload.pl
ldap/admin/src/scripts/setup-ds.pl
ldap/admin/src/scripts/setup-ds.res
ldap/admin/src/scripts/start-dirsrv
ldap/admin/src/scripts/stop-dirsrv
ldap/admin/src/scripts/suffix2instance
ldap/admin/src/scripts/syntax-validate.pl
ldap/admin/src/scripts/template-bak2db
ldap/admin/src/scripts/template-bak2db.pl
ldap/admin/src/scripts/template-cleanallruv.pl
ldap/admin/src/scripts/template-db2bak
ldap/admin/src/scripts/template-db2bak.pl
ldap/admin/src/scripts/template-db2index
ldap/admin/src/scripts/template-db2index.pl
ldap/admin/src/scripts/template-db2ldif
ldap/admin/src/scripts/template-db2ldif.pl
ldap/admin/src/scripts/template-dbverify
ldap/admin/src/scripts/template-dn2rdn
ldap/admin/src/scripts/template-fixup-linkedattrs.pl
ldap/admin/src/scripts/template-fixup-memberof.pl
ldap/admin/src/scripts/template-fixup-memberuid.pl
ldap/admin/src/scripts/template-ldif2db
ldap/admin/src/scripts/template-ldif2db.pl
ldap/admin/src/scripts/template-ldif2ldap
ldap/admin/src/scripts/template-monitor
ldap/admin/src/scripts/template-ns-accountstatus.pl
ldap/admin/src/scripts/template-ns-activate.pl
ldap/admin/src/scripts/template-ns-inactivate.pl
ldap/admin/src/scripts/template-ns-newpwpolicy.pl
ldap/admin/src/scripts/template-restart-slapd
ldap/admin/src/scripts/template-restoreconfig
ldap/admin/src/scripts/template-saveconfig
ldap/admin/src/scripts/template-schema-reload.pl
ldap/admin/src/scripts/template-start-slapd
ldap/admin/src/scripts/template-stop-slapd
ldap/admin/src/scripts/template-suffix2instance
ldap/admin/src/scripts/template-syntax-validate.pl
ldap/admin/src/scripts/template-upgradednformat
ldap/admin/src/scripts/template-usn-tombstone-cleanup.pl
ldap/admin/src/scripts/template-verify-db.pl
ldap/admin/src/scripts/template-vlvindex
ldap/admin/src/scripts/upgradedb
ldap/admin/src/scripts/upgradednformat
ldap/admin/src/scripts/usn-tombstone-cleanup.pl
ldap/admin/src/scripts/verify-db.pl
ldap/admin/src/scripts/vlvindex
ldap/admin/src/scripts/91reindex.pl
ldap/admin/src/scripts/dbmon.sh
ldap/admin/src/scripts/ds_selinux_enabled
ldap/admin/src/scripts/ds_selinux_port_query
ldap/admin/src/scripts/readnsstate
ldap/admin/src/scripts/status-dirsrv
ldap/admin/src/slapd.inf
ldap/admin/src/template-initconfig
ldap/ldif/template-baseacis.ldif
ldap/ldif/template-bitwise.ldif
ldap/ldif/template-country.ldif
ldap/ldif/template-dnaplugin.ldif
ldap/ldif/template-domain.ldif
ldap/ldif/template-dse.ldif
ldap/ldif/template-ldapi-autobind.ldif
ldap/ldif/template-ldapi-default.ldif
ldap/ldif/template-ldapi.ldif
ldap/ldif/template-locality.ldif
ldap/ldif/template-org.ldif
ldap/ldif/template-orgunit.ldif
ldap/ldif/template-pampta.ldif
ldap/ldif/template-sasl.ldif
ldap/ldif/template-state.ldif
ldap/ldif/template-suffix-db.ldif
ldap/ldif/template-dse-minimal.ldif
ldap/servers/slapd/tools/rsearch/scripts/dbgen.pl
ldap/servers/snmp/ldap-agent.conf
src/pkgconfig/libsds.pc
src/pkgconfig/nunc-stans.pc
src/pkgconfig/svrcore.pc
wrappers/cl-dump
wrappers/dbscan
wrappers/dirsrv
wrappers/dirsrv-snmp
wrappers/dsktune
wrappers/infadd
wrappers/ldap-agent
wrappers/ldclt
wrappers/ldif
wrappers/migratecred
wrappers/mmldif
wrappers/pwdhash
wrappers/repl-monitor
wrappers/rsearch
wrappers/ds_systemd_ask_password_acl
docs/slapi.doxy
man/man3/
html/
.pytest_cache/
src/lib389/dist/
src/lib389/man/
src/libsds/target/
src/librslapd/target/
dist
venv
.idea
src/cockpit/389-console/cockpit_dist/
src/cockpit/389-console/node_modules/
vendor
vendor.tar.gz
.history
.vscode/launch.json
