.container{
    margin: 0;
    padding: 0;
//    border: 1px solid black;
    display: flex;
}
.fixed{
    padding: 0;
    width: 200px;
    margin: -20px 2px 2px 2px;
    display: block;
}

.flex-item{
    background-color: #f2f2f2;
    flex-grow: 1;
    border: 1px groove black;
    border-style: groove;
    margin: 25px 2px 2px 2px;
    padding: 15px;
    min-height: 700px;
    overflow-y: scroll;

}

.myborder {
    border: 1px solid black;
}

.myblue {
    border: 1px solid blue;
}

.mybutton {
    height: 50px;
    width: 175px !important;
    margin: 5px;

//	bottom:auto;
	float:none;
	left:auto;
	line-height:normal;
	overflow:visible;
	position:static;
}

.myserver {
    margin: -25px 0px 0px 20px;
    padding: 0px;
}

.mydropdown {
    padding: 0px;
    height: 35px;
    width: 300px !important;
    margin-left: -10px;
}
