.ds-logo {
    margin: 5px;
    background-color: white !important;
}

.ds-logo-style {
    margin: 10px;
    margin-bottom: 20px;
}

.ds-container {
    margin: 0;
    padding: 0 !important;
    display: flex;
}

.ds-inline {
    display: inline-block !important;
    vertical-align: top !important;
}

.ds-left-align {
    text-align: left !important;
}

.ds-chart-right {
    margin-left: 65px;
}

/* This can probably be removed once we switch to PF React 4 - suffix action button */
.ds-action-button {
    color: white;
}

.ds-refresh {
    background-color: #0088ce;
    background-image: linear-gradient(to bottom,#39a5dc 0,#0088ce 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff39a5dc', endColorstr='#ff0088ce', GradientType=0);
    border-color: #00659c;
    color: #fff;
    padding: 3px;
    box-shadow: 0 2px 3px rgba(3,3,3,.1);
    border-radius: 50%;
    border: 1px solid transparent;
    font-size: 13px !important;
}

.ds-switch {
    margin-top: 2px;
}

.dataTables_wrapper {
    padding: 0px !important;
    margin-bottom: 10px !important;
}

td {
    white-space: normal;
    word-wrap: break-word !important;
    max-width: 200px !important;
}

.ds-no-padding {
    padding: 0px !important;
}

.ds-width-sm {
    max-width: 100px;
}

.ds-tree {
    font-size: 0.5;
    background-color: #f8f8f8;
    border: 1px solid #909090;
    color: black;
    line-height: 2;
    width: 300px;
    min-width: 300px;
    min-height: 400px;
    max-height: 400px;
    margin-bottom: 5px;
    overflow: auto;
    padding-top: 5px;
}

.ds-disabled {
    pointer-events: none;
    opacity: 0.7;
}

.ds-input {
    margin-top: 5px !important;
    padding-right: 5px !important;
    padding-left: 5px !important;
}

.ds-input-bad {
    border-color: red !important;
}

.ds-input-auto-bad {
    width: 100%;
    border-color: red !important;
    padding-left: 5px;
}

.ds-input-right {
    text-align: right;
}

.ds-divider {
    width: 35px;
}

.ds-divider-lrg {
    width: 50px;
}

.ds-label {
    vertical-align: middle !important; /* Fixes any weird issues in Firefox and IE */
}

.ds-dblink-dropdown {
    width: 140px !important;
    text-align: left;
}

.ds-dblink-dropdown a {
    padding: 0px !important;
    padding-left: 10px !important;
    line-height: 0 !important;
    width: 140px !important;
    text-align: left;
}

.ds-db-table {
    border: 1px solid #d1d1d1;
    word-wrap: break-word !important;
    text-align: center;
}

.ds-table {
    background-color: white !important;
    padding: 0px;
    border: 1px solid #909090;
    table-layout: fixed;
    clear: both;
    word-wrap: break-word !important;
    text-align: center;
    line-height: 1;
}

.ds-cipher-width {
    max-width: 350px !important;
    min-width: 350px !important;
}

.ds-modal-wide .modal-content {
    width: 875px !important;
    min-width: 875px !important;
    vertical-align: middle;
    margin-left: -90px !important;
}

.ds-button-right {
    width: 120px !important;
    margin-top: 5px;
    float: right !important;
    display: inline-block !important;
}

.ds-button-left {
    width: 120px;
    max-width: 150px;
    margin-top: 5px;
    float: left !important;
    display: inline-block !important;
}

.ds-panel-left {
    width: 50%;
}
.ds-panel-right {
    width: 50%;
}

.ds-fractional-panel {
    background-color: white;
    width: 50%;
    margin: 2px 2px 2px 2px;
    padding-left: 10px;
}

.ds-fractional-panel p {
    padding: 0px !important;
    margin-left: 0 !important;
}

.ds-config-checkbox {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    margin-right: 5px !important;
}

.ds-operate-spinner {
    margin-left: 10px;
    top: 10px;
}

.ds-tab-main {
    margin-left: 2%;
    font-size: 18px;
}

.ds-config-label {
    margin-top: 10px;
    width: 225px !important;
    margin-bottom: 10px !important;
}

.ds-config-label-xlrg {
    margin-top: 10px;
    width: 180px !important;
    margin-bottom: 10px !important;
}

.ds-label-sm {
    width: 175px !important;
    margin-bottom: 10px !important;
}

.ds-modal-row {
    margin-left: 20px;
    margin-right: 0px !important;
}

.ds-chaining-list {
    width: 350px;
    height: 100px !important;
}

.ds-chaining-split {
    width: 350px;
}

.ds-chaining-divider {
    width: 85px;
}

p {
    line-height: 1;
    white-space: normal;
}

textarea {
    margin-top: 5px;
    padding-top: 5px;
    vertical-align: top;
    width: 315px;
    height: 80px;
    word-wrap: break-word !important;
    line-height: 1;
}

.ds-agmt-textarea {
    width: 100%;
    font-family: monospace !important;
}

.ds-logarea {
    margin-top: 5px;
    padding-top: 5px;
    vertical-align: top;
    width: 100% !important;
    height: 500px;
    max-height: 600px !important;
    word-wrap: break-word !important;
    line-height: 1;
    font-family: monospace !important;
    overflow-y: scroll;
    font-size: 12px;
}

.ds-conflict {
    margin-top: 5px;
    padding-top: 5px;
    vertical-align: top;
    width: 375px;
    height: 275px;
    max-height: 350px !important;
    white-space: pre;
    line-height: 1.5;
    font-family: monospace !important;
    overflow-y: auto;
    overflow-x: scroll;
}

.ds-conflict-btn {
    width: 150px;
}

option {
    color: #181818;
}

.ds-server-action {
    padding: 0 !important;
    margin-left: 10px;
    display: inline-block;
    align-content: right;
}

.ds-action-btn {
    margin-left: 10px;
    margin-right: 0px;
    /* border-radius: 5px !important; */
    padding: 0px 10px 0px 10px !important;
    min-height: 30px !important;
}

.ds-nav {
    padding: 0 !important;
    background-color: #f3f3f3;
}

.ds-float-right {
    float: right;
}

.ds-float-left {
    float: left;
}

.ds-inline-btn {
    margin-top: -3px;
    margin-left: 10px;
    display: inline-block;
}

.spinner-sm {
    height: 18px !important;
    Width: 18px !important;
}

.ds-config-header {
    margin-bottom: 20px;
}

.ds-sub-header {
    margin-top: 35px !important;
    margin-bottom: 10px;
}

.ds-accordion {
    box-shadow: unset;
    background-image: unset;
    margin-top: 20px;
    color: #228bc0 !important;
    background-color: transparent !important;
    border: 0;
    position: relative;
    overflow: hidden;
    width: 100%;
    text-align: left;
    font: inherit;
}

.ds-accordion:after {
    display: inline-block;
    content: "";
    height: 1px;
    background: #228bc0;
    position: absolute;
    width: 100%;
    top: 50% !important;
    margin-left: 10px;
    text-align: left;
}

.ds-accordion:focus {
    background-color: transparent !important;
    outline: none !important;
    border: 0 !important;
    -moz-outline: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: 0 !important;
}

.ds-margin-top {
    margin-top: 10px !important;
}

.ds-margin-top-med {
    margin-top: 15px !important;
}

.ds-margin-top-lg {
    margin-top: 20px !important;
}

.ds-margin-top-xlg {
    margin-top: 35px !important;
}

.ds-margin-top-xxlg {
    margin-top: 45px !important;
}

.ds-modal-spinner {
    margin-top: 10px;
    text-align: center;
}

.modal {
  overflow-y:auto;
}

.ds-indent {
    margin-left: 15px !important;
    margin-right: 15px !important;
}

.ds-left-indent {
    margin-left: 15px !important;
}

.ds-left-indent-md {
    margin-left: 30px !important;
}

.ds-right-indent {
    margin-right: 15px !important;
}

.ds-tree-content {
    margin-left: 25px;
    width: 100%;
}

.ds-left-margin {
    margin-left: 10px !important;
}

.ds-sm-left-margin {
    margin-left: 5px !important;
}

.ds-loglevel-table {
    max-width: 500px;
    min-width: 500px;
    table-layout: fixed;
    margin-top: 20px;
}

.ds-table-checkbox {
    width: 35px;
    text-align: center;
}

.navbar-default {
    margin-bottom: 0px;
}

.ds-modal-error {
    color: red;
}

.ds-clear-text {
     opacity: 0;
}

.ds-margin-left-sm {
    margin-left: 30px !important;
}

.ds-margin-left {
    margin-left: 40px !important;
}

.ds-margin-left-piechart {
    margin-left: 140px !important;
}

.ds-center {
    text-align: center;
}

.ds-loading-spinner {
    position: fixed;
    top: 25%;
    left: 50%;
    transform: translate(-25%, -50%);
}

.ds-loading-spinner-tree {
    position: fixed;
    top: 40%;
    left: 40%;
    transform: translate(-40%, -40%);
}

.ds-loading {
    position: fixed;
    top: 25%;
    left: 50%;
    transform: translate(-25%, -35%);
}

.ds-input-auto {
    width: 100%;
    margin-right: 10px;
    padding-left: 5px;
}

.ds-raise-field {
    margin-top: -3px;
}

.ds-lower-field {
    margin-top: 3px;
}

.content-view-pf-pagination > div > span:last-child {
    position: relative;
}

.ds-toolbar {
    bottom: 10px;
}

.ds-plugin-spinner {
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 80px;
}

.ds-h4 {
    font-size: 18px !important;
}

@media screen and (max-width: 1300px) {
    .ds-plugin-spinner {
        margin-left: 0px;
    }
}

/* Link */
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #228bc0;
}

/* Nav stacked (vertical) bar */
.nav-pills > li > a {
    padding: 3px 15px;
    font-size: 15px;
    border-radius: 3px;
}

.nav-pills > li.active > a {
    color: #fff !important;
}

.ds-plugin-tab-header {
    position: relative;
    top: -16px;
}

@media screen and (max-width: 770px) {
    .ds-plugin-tab-header {
        margin-top: 0px;
        margin-bottom: 0px;
    }
}

.rbt-token {
    background-color: #ededed;
    color: #363636;
}

.rbt-input-multi {
    height: auto !important;
}

.list-group {
    margin-bottom: 1px !important;
}

.ds-tab-table {
    margin-top: 25px !important;
}

.ds-nav-med {
    font-size: 12px !important;
}

.ds-table-pagination {
    border: 1px solid #d1d1d1;
}

.list-view-pf-view {
    margin-top: 10px;
}

.ds-fadein {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s linear;
}

.ds-fadeout {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0s, opacity 1s linear;
}

.ds-col-append {
    /* Move this item to the left to offset PF margins */
    margin-left: -35px;
    padding-right: 0px;
    word-wrap: break-word;
}

.ds-word-wrap {
    word-wrap: break-word;
}

.ds-suffix-header {
    font-size: 20px;
    margin-bottom: 15px;
    padding-top: 5px;
}

.ds-header {
    font-size: 16px;
}

.ds-no-padding {
    padding-right: 0 !important;
}

.alert {
    max-width: 750px;
}

.ds-confirm {
    margin-left: 5%;
    margin-top: 5%;
}

.ds-select {
    width: 120px;
}

.ds-schema-dropdown {
    border-color: #06c !important;
    color: #06c !important;
}

.treeview .list-group-item {
    /* remove focus border */
    outline: none;
}

.treeitem-row {
    display: block;
    outline: none;
}

.treeview .list-group-item.node-selected > .treeitem-row {
    background: #0088ce !important;
    border-color: #0088ce !important;
    color: #fff !important;
    display: block;
}

input {
    padding-left: 5px !important;
}

.ds-width-auto {
    width: 100%;
}

th {
    text-align: center;
}

td {
    text-align: center;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
}

h3 {
    margin-top: 20px;
    margin-bottom: 20px;
}

h4 {
    margin-top: 15px;
    margin-bottom: 15px;
}
