# BEGIN COPYRIGHT BLOCK
# Copyright (C) 2001 Sun Microsystems, Inc. Used by permission.
# Copyright (C) 2005 Red Hat, Inc.
# All rights reserved.
# END COPYRIGHT BLOCK

# The htmldir directive tells the CGIs where to find the html files
htmldir		../html

# The configdir directive tells the CGIs where to find the 
# templates/configuration files
configdir	../config

# The gwnametrans directive tells the CGIs what url to output
# for http redirection. It should be the same nameTrans set
# in the webserver, if any is being is used.
gwnametrans	/clients/dsgw/html/

# The authlifetime directive specifies how long authentication credentials
# are valid (in seconds).
authlifetime	7200

# The libNLS data directory.  This directory should contain a directory
# named "locales", which contains the configuration files LANG.ctx and
# LANG.txt for each supported language (locale).
NLS ../../../lib/nls

# The default character set, for communication with HTTP clients.
# A client may override this default, using an HTTP Accept-Charset header.
# Or, this default may be overridden for a specific language, by creating
# a LANG/dsgwcharset.conf file which contains the charset name.
# For compatibility with HTTP clients that can't handle an HTTP response
# with a charset parameter in the content-type, comment out this directive;
# responses will be sent in ISO-8859-1, with no explicit charset parameter.
# RFC 1345 defines the syntax of charset names.  There is a registry of
# charsets, at ftp://ftp.isi.edu/in-notes/iana/assignments/character-sets
# charset UTF-8

# Substitute ideographic space for non-breaking space in Asian charsets:
changeHTML "  " "　" Shift_JIS Big5 EUC-KR
changeHTML " " "　" Shift_JIS Big5 EUC-KR

# Mapping between config/display-XXX.html templates and LDAP objectClasses.
# This can be generated by using ds/templateindex.  The format is:
#
#    template TEMPLATENAME  OBJECTCLASSES
#
# where "display-TEMPLATENAME.html" is the name of a display template
# that is found in this config directory (e.g., "display-group.html") and
# OBJECTCLASSES is a list of one or more objectClass values.  For a given
# template to be used, all the objectClass values listed must be present
# in the directory entry, so the order of these template lines is
# significant (e.g. note that the more specific "orgperson" template is
# listed before the one for an ordinary "person").
#
template  group		groupOfNames
template  ntgroup	groupOfUniqueNames ntGroup
template  groupun	groupOfUniqueNames
template  org		organization
template  orgunit	organizationalUnit
template  ntperson	person  inetOrgPerson nTUser
template  orgperson	person  inetOrgPerson
template  person	person
template  country	country

#
# The remainder of this file contains information about the locations and
# types for new entries.
#
# "location" lines define places in the directory where new entries can be added
# The format of each line is:
#	location HANDLE FRIENDLYNAME DN
# where HANDLE is a short name which is used in the "newtype" lines (see below)
# and FRIENDLYNAME is a human-readable name for the location
# and DN is the Distinguished Name for this location (if it does not end with
#   '#', the location-suffix is appended to to construct a full DN; if it
#   does end with `#', it assumed to be a full DN and the `#' is removed).
#
location  country	"Espa&ntilde;a"		"c=ES#"	
location  org		"Esta empresa"	""
location  groups	"Grupos"		"ou=Groups"
location  people	"Personas"		"ou=People"
location  special	"Usuarios especiales"		"ou=Special Users"

# "newtype" lines define the types of new entries that may be added
# The format of each line is:
#	newtype TEMPLATENAME FRIENDLYNAME RDNATTR LOCATIONS...
# where TEMPLATENAME corresponds to an existing display-TEMPLATENAME.html file
# and FRIENDLYNAME is a human-readable name for this type of entry
# and RDNATTR is the attribute that is used to name entries of this type
# and LOCATIONS is a blank-separated list of locations where these types of
#    entries can be added (corresponding to a HANDLE on a "location"
#    config. file line).
#
newtype   orgperson	"Persona"		uid  people special
newtype   ntperson	"Persona NT"		uid  people special
newtype   ntgroup	"Grupo NT"		cn   groups
newtype   groupun	"Grupo"			cn   groups
newtype   orgunit	"Departamento"		ou   people org
newtype   org		"Empresa"		o    country

# Mappings between VCard properties and LDAP attribute types:
# The format of each line is:
#	vcard-property VCARDPROP SYNTAX LDAPATTR [LDAPATTR2]
# where VCARDPROP is the name of a VCard property
# and SYNTAX is "cis" for simple strings and "mls" for multiline strings
# and LDAPATTR is the LDAP attribute that corresponds to VCARDPROP
# and LDAPATTR2 is an optional secondary LDAP attribute which is added to
#     the property value by appending a semicolon and then the attr2 value.
vcard-property	FN			cis	cn
vcard-property	N			cis	sn	givenName
vcard-property	ORG			cis	o	ou
vcard-property	ROLE			cis	businessCategory
vcard-property	ADR;WORK		mls	postalAddress
vcard-property	ADR;HOME		mls	homePostalAddress
vcard-property	EMAIL;INTERNET		cis	mail
vcard-property	TITLE			cis	title
vcard-property	TEL;WORK		cis	telephoneNumber
vcard-property	TEL;FAX			cis	facsimileTelephoneNumber
vcard-property	TEL;CELL		cis	mobile
vcard-property	TEL;HOME		cis	homePhone
vcard-property	NOTE			cis	description
